<html>
  <body>
    <h1>Welcome to Shitter</h1>
    <section class='devise'>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </section>
    <h2>
      <%= form_for @tweet, html: {class: "tweet-form"} do |f| %>
        <%= f.text_field :tweet_content, :placeholder => "What's up?" %>
        <%= f.submit 'Post message' %>
      <% end %>
    <p>No tweets yet!</p>
  </body>
</html>
