<html>
  <body>
    <h1>Shitter</h1>
      <% if user_signed_in? %>
        <div class="devise-in">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </div>
        <section class='account'>
          <%= current_user.username %>
          <%= link_to "Edit Profile", edit_user_registration_path %>
        </section>
        <%= render 'follow_form' %>
        <div class='all'>
          <a href="/tweets">All Stream</a>
        </div>
        <div class='following-stream'>
          <a href="/followingstream">Following Stream</a>
        </div>
      <% else %>
        <div class="devise-out">
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
        </div>
      <% end %>
      <%= @user.username %>'s tweets
      <section class="follow-stats">
        <%= render 'shared/follow_stats' %>
      </section>
      <% if @user.tweets.any? %>
        <ul class='tweets'>
          <% @tweets.reverse.each do |tweet| %>
            <li>
              <%=tweet.user.username %> => <%=tweet.tweet_content %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No tweets yet!</p>
      <% end %>
  </body>
</html>
